#counter{
    font-size:50px;
    color: #fe0000;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

#buttonContainer{
    text-align: center;
    margin-top: 20px;
}

.buttons{
    padding: 10px 20px;
    font-size: 1em;

    color : rgb(231, 14, 14);
    background-color: #94c3ef;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}
.buttons:hover{
    background-color: #e7b6a6;
}